body{
    background-color: red;
}

svg{
    background-color: red;
    color: red;


}


svg:hover{
    background-color: blue;
    color: blue;
}

#arbol {
     background-image: url("../assets/arbol.svg");

 }
